.goto-website {
  background: #C2D7E5;
  color: rgb(248, 248, 252);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.project-language-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 24px);
  height: 60px;
  margin: 8px 0 40px 15px;
  background: rgb(248, 248, 252);
  border-radius: 8px;
  box-shadow: 0px 1px 0 1px rgba(0, 0, 0, 0.15);
}

.project-language-container svg {
  height: 40px;
  min-width: 60px;
}

#language-container-main svg{
    height: 34px;
}

.language-title {
    position: absolute;
    top: -32px;
    left: 0;
    min-width: 60px;
    display: flex;
    justify-content: center;
    color: #b4b4b4;
    font-size: 14px;
}

.project-specific-container .language-title {
  top: -24px;
}

.project-language-container span {
    position: relative;
}

.project-language-container label {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -24px;
  left: calc(50% - 100px);
  width: 200px;
  color: rgb(180, 180, 180);
}
