.goto-website {
  background: #87a5b9;
  color: rgb(248, 248, 252);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.project-language-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 8px auto 40px;
  background: rgb(248, 248, 252);
  border-radius: 8px;
  box-shadow: 0px 1px 0 1px rgba(0, 0, 0, 0.15);
  span {
    position: relative;
  }
  svg {
    height: 30px;
    min-width: 40px;
    transform: translateY(2px);
  }
  label {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 8px auto;
    top: 48px;
    width: 60px;
  }
  .language-title {
    position: absolute;
    top: -32px;
    left: 0;
    min-width: 60px;
    display: flex;
    justify-content: center;
    color: #b4b4b4;
    font-size: 14px;
  }
  @media screen and (min-width: 360px) {
    svg {
      min-width: 60px;
    }
  }
  @media screen and (min-width: 720px) {
    max-width: 440px;
    height: 80px;
    label {
      top: 60px;
    }
    .language-title {
      top: -40px;
      left: 8px;
      font-size: 16px;
    }
    svg {
      min-width: 80px;
      height: 50px;
    }
  }
}

#language-container-main svg {
  height: 28px;
  @media screen and (min-width: 360px) {
    height: 34px;
  }
  @media screen and (min-width: 720px) {
    min-width: 80px;
    height: 50px;
  }
}

.project-challenges-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 12px auto;
  padding: 0 15px;
  font-size: 16px;
  color: #5f5f5f;
  span {
    font-weight: 550;
    letter-spacing: 2px;
    margin-bottom: 12px;
  }
}

.project-specific-container .language-title {
  top: -36px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title-container {
  display: flex;
  justify-content: space-between;
  .project-title-sub {
    display: flex;
    flex-direction: column;
  }
  svg {
    width: 24px;
    height: 24px;
    margin: 0 0 0 12px;
  }
  .project-title-icons {
    position: relative;
  }
  .language-title {
    transform: translateX(-8px);
    z-index: 100;
  }
  .language-title-right {
    transform: translateX(24px);
  }
}
