.timeline-year-line {
    display: flex;
    position: relative;
    margin: 0px 0 20px 0;
}

.year-line {
    width: 100%;
    flex: 1;
    border-top: 1px solid #b8b4b8;
    transform: translateY(14px);
}

.year {
    margin: 0 12px;
    color: #dec5dd;
    font-weight: 550;
}